* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: teal;
  height: 100vh;
}

nav {
  background-color: white;
  height: 100px;
  display: grid;
}

.nav-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-title {
  font-style: italic;
  color: #313131;
  font-size: 45px;
  font-weight: bold;
  -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}

h4 {
  font-size: 25px;
  color: teal;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: teal;
  letter-spacing: 0.1rem;
  margin-right: 1rem;
}
.nav-links a:hover {
  color: lightcyan;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

h2 {
  background: black;
  color: white;
  padding: 2rem 4rem;
  border-radius: 20px;
  margin: 2.5rem;
}

.btn {
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  text-transform: uppercase;
  background: transparent;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
